
- if current_user
  = render partial: 'navbar'
  .container
    %ul
      - @questions.each do |question|
        %li= link_to question.title, question_path(question.id)

    = link_to 'New Question', new_question_path
- else
  .center{style:"padding-top: 25%;"}
    = link_to 'Sign in with Google', '/auth/google'